[alembic]
script_location = alembic
sqlalchemy.url = postgresql://user:password@localhost/mydatabase
# generic, "autogenerate" enabled template
# env.py:
#   - uses main method "run_migrations_online"
#   - has "target_metadata" defined
#   - has "configure_mappers" called
#   - has "render_as_batch" for SQLite
# file_template = %%(rev)s_%%(slug)s
# timezone = UTC